// Colors
$off-black: #333533;
$off-black-light: rgba(51, 53, 51, 0.6);
$grey-light: #fcfcfc;
$off-white: #fcffff;

// Gutters
$gutter-xs: 1.6rem;
$gutter-s: 2.4rem;
$gutter-m: 3.2rem;
$gutter-l: 4rem;

//Typography
$title-size: 4rem;
$subtitle-size: 2rem;
$text-size: 1.6rem;

//Breakpoints
$desktop: 45rem;
